# Working with pandas

## Import the library

In [20]:
import pandas as pd
pd.set_option('display.max_rows', 5)

In `pandas`, we have various data types for computing, reading, sorting, etc... .<br>
Most common data types would be `DataFrame` (an object like format with its own function) and `Series` (an array like).<br>
<br>
You have a lots of way to create those data types. You can open files (JSON, CSV, XML, etc) with a simple command `pd.read_XXX("your_file")`. In most cases, you'll get data with a DataFrame type.<br>
To understand and treat your data, `pandas` offers you a lots of functions easy to use. Check out the following section.

## DataFrame
DataFrame is an object like data representation.<br>
e.g: 
```
{
    "latitude": [0, 1, 2],
    "longitude": [3, 4, 5]
}
```
Multiples options are available to import/create data.<br>
Check out the [documentation](https://pandas.pydata.org/pandas-docs/stable/reference/index.html)

#### Import data from file

In [4]:
file_data = pd.read_csv("./birdsong_metadata.csv")

#### Create your own dataframe

In [ ]:
books_data = pd.DataFrame({
    "book_name": ["Lord of the Rings", "The black company"],
    "parution_date": [1954, 1984]
})

books_data.name = 'Books database'
books_data

#### Resume your data

`describe` allows you to get a resume of your data with the mean, percentiles, etc.

In [5]:
file_data.describe()

             file_id    latitude   longitute
count     264.000000  261.000000  261.000000
mean    98782.503788   53.007356    5.676923
std     38058.627589    9.352445    9.482390
min     25119.000000  -17.807000  -21.622100
25%     71674.500000   51.257300   -1.505000
50%    101619.500000   53.095600    1.108900
75%    130727.500000   55.628900   14.084300
max    164926.000000   71.055000   31.783400

With the `head` method, `pandas` returns the first 5th rows of your data with their columns and values.

In [24]:
file_data.head()

,file_id,genus,species,english_cname,who_provided_recording,country,latitude,longitute,type,license
0,132608,Acanthis,flammea,Common Redpoll,Jarek Matusiak,Poland,50.7932,15.4995,"female, male, song",http://creativecommons.org/licenses/by-nc-sa/3.0/
1,132611,Acanthis,flammea,Common Redpoll,Jarek Matusiak,Poland,50.7932,15.4995,"flight call, male, song",http://creativecommons.org/licenses/by-nc-sa/3.0/
2,35068,Acanthis,flammea,Common Redpoll,Sander Bot,Netherlands,52.8176,6.4326,"call, song",http://creativecommons.org/licenses/by-nc-nd/2.5/
3,82715,Acrocephalus,palustris,Marsh Warbler,Dougie Preston,United Kingdom,60.3539,-1.2689,Song,http://creativecommons.org/licenses/by-nc-nd/2.5/
4,64685,Acrocephalus,palustris,Marsh Warbler,Dougie Preston,United Kingdom,60.3539,-1.2689,Song,http://creativecommons.org/licenses/by-nc-nd/2.5/

The property `column` returns all the columns of your DataFrame

In [23]:
file_data.columns

Index(['file_id', 'genus', 'species', 'english_cname',
       'who_provided_recording', 'country', 'latitude', 'longitute', 'type',
       'license'],
      dtype='object')

#### Select your data by column

You can get the data of a single column by writing the column name like so:

In [22]:
print(file_data["genus"])
print(file_data.genus)

0      Acanthis
1      Acanthis
         ...
262    Vanellus
263    Vanellus
Name: genus, Length: 264, dtype: object
0      Acanthis
1      Acanthis
         ...
262    Vanellus
263    Vanellus
Name: genus, Length: 264, dtype: object

#### Select a list by index

The `iloc` and `loc` methods are data selecting methods. Various ways of selection exists for those methods. Please refer to the documentation: [iloc](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iloc.html) and [loc](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html?highlight=loc#pandas.DataFrame.loc)<br>
There is a slightly difference between them. `iloc` in a non-inclusive data selection method. That means if you want rows `1 to 10` you should select them with `loc[1:11]`. `loc` is the opposit, it's inclusive.

In [21]:
file_data.iloc[0:10] # Will returns result 0 to 9
file_data.loc[0:10] # Will returns result 0 to 10

,file_id,genus,species,english_cname,who_provided_recording,country,latitude,longitute,type,license
0,132608,Acanthis,flammea,Common Redpoll,Jarek Matusiak,Poland,50.7932,15.4995,"female, male, song",http://creativecommons.org/licenses/by-nc-sa/3.0/
1,132611,Acanthis,flammea,Common Redpoll,Jarek Matusiak,Poland,50.7932,15.4995,"flight call, male, song",http://creativecommons.org/licenses/by-nc-sa/3.0/
...,...,...,...,...,...,...,...,...,...,...
9,124052,Acrocephalus,scirpaceus,Eurasian Reed Warbler,david m,United Kingdom,51.8985,-0.5372,"call, female, male, song",http://creativecommons.org/licenses/by-nc-nd/3.0/
10,124053,Acrocephalus,scirpaceus,Eurasian Reed Warbler,david m,United Kingdom,51.8985,-0.5372,"call, female, male, song",http://creativecommons.org/licenses/by-nc-nd/3.0/

#### Values triage

Show only unique values

In [25]:
file_data["species"].unique()

array(['flammea', 'palustris', 'schoenobaenus', 'scirpaceus', 'caudatus',
       'arvensis', 'pratensis', 'trivialis', 'apus', 'canadensis',
       'alpina', 'europaeus', 'carduelis', 'familiaris', 'chloris',
       'ridibundus', 'monedula', 'livia', 'oenas', 'palumbus', 'corax',
       'corone', 'frugilegus', 'canorus', 'caeruleus', 'urbicum', 'major',
       'martius', 'calandra', 'citrinella', 'schoeniclus', 'rubecula',
       'coelebs', 'atra', 'gallinago', 'chloropus', 'glandarius',
       'stellata', 'ostralegus', 'rustica', 'torquilla', 'lagopus',
       'argentatus', 'cannabina', 'fluviatilis', 'curvirostra',
       'megarhynchos', 'apiaster', 'aguimp', 'flava', 'striata',
       'oriolus', 'domesticus', 'montanus', 'perdix', 'ater', 'apivorus',
       'colchicus', 'phoenicurus', 'collybita', 'sibilatrix', 'trochilus',
       'pica', 'viridis', 'apricaria', 'squatarola', 'modularis',
       'pyrrhula', 'regulus', 'europaea', 'decaocto', 'turtur', 'aluco',
       'vulgaris', 'atricapilla', 'borin', 'communis', 'curruca',
       'glareola', 'totanus', 'troglodytes', 'iliacus', 'merula',
       'philomelos', 'vanellus'], dtype=object)

Show numbers of occurence of each values

In [26]:
file_data["species"].value_counts()

major       6
montanus    6
           ..
caudatus    3
monedula    3
Name: species, Length: 85, dtype: int64

Iterate over column with `lambda` function

In [ ]:
file_data["species"].map(lambda p: print(p))

Iterate over DataFrame and applies to the entiere selected data

In [28]:
def species_genus(row):
    row["species"] = row["species"] + " " + row["genus"]
    return row

modified_data = file_data.apply(species_genus, axis="columns")
modified_data["species"].head()

0          flammea Acanthis
1          flammea Acanthis
2          flammea Acanthis
3    palustris Acrocephalus
4    palustris Acrocephalus
Name: species, dtype: object

#### Grouping

Grouping data is an excellent way for manual triage and sorting. The `groupby` method is the key

In [36]:
file_data.groupby(["genus", "species"]).apply(lambda df: df.loc[df["latitude"].idxmax()])

,,file_id,genus,species,english_cname,who_provided_recording,country,latitude,longitute,type,license
genus,species,,,,,,,,,,
Acanthis,flammea,35068,Acanthis,flammea,Common Redpoll,Sander Bot,Netherlands,52.8176,6.4326,"call, song",http://creativecommons.org/licenses/by-nc-nd/2.5/
Acrocephalus,palustris,82715,Acrocephalus,palustris,Marsh Warbler,Dougie Preston,United Kingdom,60.3539,-1.2689,Song,http://creativecommons.org/licenses/by-nc-nd/2.5/
...,...,...,...,...,...,...,...,...,...,...,...
Turdus,philomelos,132392,Turdus,philomelos,Song Thrush,david m,United Kingdom,54.1200,-0.5445,song,http://creativecommons.org/licenses/by-nc-nd/3.0/
Vanellus,vanellus,27060,Vanellus,vanellus,Northern Lapwing,Patrik berg,Sweden,58.4051,14.3028,song,http://creativecommons.org/licenses/by-nc-sa/3.0/

#### Sorting

`pandas` has powerful methods to sort data from `DataFrame`, `Series`, etc.<br>
Here's some powerful ones

In [42]:
file_data.sort_values(by="country")

,file_id,genus,species,english_cname,who_provided_recording,country,latitude,longitute,type,license
82,98942,Dryocopus,martius,Black Woodpecker,Filip Verbelen,Belgium,50.9580,3.7270,song,http://creativecommons.org/licenses/by-nc-nd/2.5/
132,83760,Locustella,fluviatilis,River Warbler,Kamil Cihak,Czech Republic,NaN,NaN,song,http://creativecommons.org/licenses/by-nc-nd/2.5/
...,...,...,...,...,...,...,...,...,...,...
145,41428,Motacilla,aguimp,African Pied Wagtail,Derek Solomon,Zambia,-13.0667,31.7834,Call,http://creativecommons.org/licenses/by-nc-nd/2.5/
144,125137,Motacilla,aguimp,African Pied Wagtail,Bram Piot,Zambia,-17.8070,25.6894,"call, female, male",http://creativecommons.org/licenses/by-nc-sa/3.0/

#### Data type

In [46]:
file_data.dtypes

file_id     int64
genus      object
            ...
type       object
license    object
Length: 10, dtype: object

In [50]:
file_data["genus"].dtype

dtype('O')

In [ ]:
file_data["latitude"].astype("str").values # They're all strings now

In [76]:
len(file_data)

file_data[pd.isnull(file_data.latitude)]

,file_id,genus,species,english_cname,who_provided_recording,country,latitude,longitute,type,license
132,83760,Locustella,fluviatilis,River Warbler,Kamil Cihak,Czech Republic,NaN,NaN,song,http://creativecommons.org/licenses/by-nc-nd/2.5/
143,97194,Merops,apiaster,European Bee-eater,Rodolphe ALEXIS,Spain,NaN,NaN,Song,http://creativecommons.org/licenses/by-nc-nd/2.5/
182,71748,Phylloscopus,collybita,Common Chiffchaff,Mark Doveston,United Kingdom,NaN,NaN,"Song,call",http://creativecommons.org/licenses/by-nc-nd/2.5/

In [85]:
file_data.latitude = file_data.latitude.fillna("Unknown")
file_data.latitude.loc[132]

'Unknown'

In [89]:
file_data.latitude = file_data.latitude.replace("Unknown", "Invalid")
file_data.latitude.loc[132]

'Invalid'

## Series
Series is an array like data reprensentation with the possibility to create a handmade index.<br>
e.g:
```
data: [1, 2, 3, 4]
index: ["get", "some", "index", "idea"]
```
Series can be created by yourself or retrieved from DataFrame column